*{
    padding:0;
    margin:0;
    outline: none;
    text-decoration: none;
}
:root{
    --blue: #55B1F5;
    --blueHover: #67b6f0;
    --blueActive: #42a9f5;
    --white: white;
    --black: #19141E;
    --gray:#9c9c9c;

    --ombra: 0px 0px 20px 0px rgba(0,0,0,0.4);
}

/*OGGETTI DEFAULT*/
.button{
    background-color:var(--blue);
    border-radius: 10px;
    box-shadow: var(--ombra);
    margin:20px 0;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size:17px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    user-select: none;
}
.button:hover{
    transform: scale(1.01);
    background-color: var(--blueHover);
}
.button:active{
    transform: scale(0.99);
    background-color: var(--blueActive);
}
.titleSezione{
    width:fit-content;
    height:70px;
    background-color: var(--white);
    box-shadow: var(--ombra);
    font-family: 'Roboto', sans-serif;
    color:var(--black);
    font-weight: bold;
    font-size:45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    padding:2px 20px;
    margin: 0 auto;
    position: relative;
    top:-20px;
}

body{
    background-color: var(--white);
}
#background{
    position: absolute;
    z-index: -1;
    top:0;
    right:0;
}
#profilo{
    position: absolute;
    z-index: 0;
    top:170px;
    left:130px;
    width:900px;
    box-shadow: var(--ombra);
}

/*NAVBAR*/
#navbar{
    width:100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
}
#logo{
    width:50px;
    position: relative;
    left:20px;
}
#menu{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right:20px;
}
.menuTab{
    margin:0 7px;
    font-size:16px;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.menuTab:hover{
    transform: scale(1.02);
}

/*INTESTAZIONE*/
#intestazione{
    position: absolute;
    z-index: 0;
    top:400px;
    left:calc(50% - 150px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#title{
    width:250px;
    height:70px;
    background-color: var(--white);
    box-shadow: var(--ombra);
    font-family: 'Roboto', sans-serif;
    color:var(--black);
    font-weight: bold;
    font-size:45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    padding:2px 20px;
    margin: 0 auto;
    position: relative;
    top:-40px;
}
#intestazione .button{
    width:130px;
    height:45px;
    margin:0;
}

/*PAGINA*/
#pagina{
    width:100%;
    height:110vh;
    background-color: var(--white);
    box-shadow: var(--ombra);
    position: absolute;
    top:90vh;
    padding-top: 20vh;
}

/*TUTORIAL*/
.videoTutorial{
    width:65%;
    height:calc(300px * 3 + 100px);
    background-color: var(--white);
    box-shadow: var(--ombra);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateX(-10px);
    margin:0 auto;
}
.tutorialImg{
    width:calc(100% - 40px);
    height:230px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tutorialImg img{
    width:120%;
}
.tutorialTitle{
    font-family: 'Roboto', sans-serif;
    color:var(--black);
    font-weight: bold;
    font-size:30px;
    width:100%;
    text-align: center;
}
.tutorialDescription{
    font-family: 'Roboto', sans-serif;
    color:var(--black);
    font-size:20px;
    width:100%;
    text-align: center;
}
.schedaTutorial .button{
    width:120px;
    height:35px;
    display: inline-flex;
    font-size: 15px;
    margin: 10px 0px;
}
.videoRiga{
    width:95%;
    height:300px;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.video{
    width:350px;
    height: 270px;
    background-color: var(--white);
    box-shadow: var(--ombra);
    text-align: center;
    font-size:17px;
    font-family: 'Roboto', sans-serif;
    color:var(--black);
}
.videoImg{
    width:calc(100% - 30px);
    margin:15px;
    height:180px;
    overflow: hidden;
}
.videoImg img{
    width:100%;
}