*{
    padding: 0;
    margin: 0;
}

:root{
    /*Color*/ 
    --primary:#62929E;
    --secondary:#546A7B;
    --tertiary: #C6C5B9
    --white: #ffffff;
    --black: #393D3F;

    /*Font*/
    --roboto: 'Roboto', sans-serif;
    --bebas: 'Bebas Neue', cursive;

    /*Font size*/
    --mega: 155px;
    --big: 37px;
    --medium: 30px;
    --small: 25px;
    --mini: 20px;
}

body{
    background-color: var(--secondary);
}
#navbar{
    width:100%;
    height:85%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#content{
    background-color: var(--black);
    width:100%;
    height: fit-content;
    min-height: 1000px;
    position: relative;
    top: 85%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

#menu{
    position: absolute;
    top: 20px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#menu div{
    font-family: var(--roboto);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    font-size: var(--mini)
}
#midNav{
    width: 50%;
    height: 100%;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#midNav > div{
    width: 60%;
    height: 400px;
    
    z-index: 20;
}
#title{
    width: fit-content;
    font-family: var(--bebas);
    color: #fff;
    font-size: var(--mega);
    line-height: var(--mega);
}
#subtitle{
    width: fit-content;
    font-family: var(--roboto);
    color: #fff;
    font-size: var(--small);
}

#midNav2{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
}
#imgGiulio{
    width:700px;
    position: absolute;
    top:40px;
}

#arrowContainer{
    width:100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#arrowContainer img{
    width: 50px;
}
.contentContainer{
    width: 95%;
    height: fit-content;
    height: 400px;
    border-left: solid white 4px;
    position: relative;
}
.contentContainer::before{
    content: "";
    position: absolute;
    width:30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    top: calc(-1 * 30px / 2);
    left:calc(-1 * 30px / 2 - 2px);
}

 /*Tablet*/
@media only screen and (max-width: 1000px) {
    :root{
        /*Font size*/
        --mega: 85px;
        --big: 28px;
        --medium: 25px;
        --small: 18px;
        --mini: 18px;
    }
}

/*Phone*/
@media only screen and (max-width: 450px) {
  :root{
       /*Font size*/
       --mega: 70px;
       --big: 22px;
       --medium: 20px;
       --small: 16px;
       --mini: 13px;
  }
  #menu {
      display: none;
  }
  #midNav{
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    }
    #midNav2{
        width: 0%;
    }
    #imgGiulio{
        opacity: 0.5;
    }
}