*{
    padding:0;
    margin: 0;
    text-decoration: none;

}

/*MENU*/
#menu{
    width:calc(98% - 30px);
    height: 70px;
    background-color: white;
    margin: 15px auto;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Bebas Neue', cursive;
    padding-right: 30px;
    z-index: 0;
    position: absolute;
    top:0;
    left:15px;
}
.sezioneMenu{
    width:fit-content;
    margin:0 10px;
    font-size:22px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.sezioneMenu:hover{
    transform:scale(1.1);
}
#sezioneCorrente{
    font-size:25px;
    color:#0099FF
}

/*CONTAINER SUPERIORE*/
#containerSuperiore{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
#title{
    width:fit-content;
    height: fit-content;
    font-size: 70px;
    padding:0px 20px;
    font-family: 'Bebas Neue', cursive;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
}
#profiloHome{
    width:600px;
    position: absolute;
    top:40px;
    left:100px;
}
#seguimiSuHome{
    width:300px;
    height: 200px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    position: absolute;
    right: 30px;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#seguimiSuHome div:nth-child(1){
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
}
#seguimiSuHome div:nth-child(2) , #seguimiSuHome div:nth-child(3){
    width: 80%;
    height: 50px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    border-radius: 25px;
    margin:5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
#seguimiSuHome div:nth-child(2){
    color:#F51F1F;
}
#seguimiSuHome div:nth-child(2):hover{
    background-color:#f84949;
    color:white;
    transform: scale(1.05);
}
#seguimiSuHome div:nth-child(3){
    color:#5865F2;
}
#seguimiSuHome div:nth-child(3):hover{
    background-color:#828dfd;
    color:white;
    transform: scale(1.05);
}
#seguimiSuHome div img{
    width:30px;
    margin-right: 10px;
}

/*CONTAINER*/
#container{
    width:100%;
    height: fit-content;
    min-height: 2000px;
    background-color: white;
    z-index: 10;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    border-radius: 20px 20px 0 0;
    text-align: center;
}
#freccia{
    width: 40px;
    margin-top:10px;
    margin-bottom:100px;
}
.titleContainer{
    width:95%;
    height:50px;
    margin:0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: start;
    position: relative;
    padding-left: 10px;
}
.titleContainer::after{
    content: "";
    width:100%;
    background-color: black;
    height: 4px;
    position: absolute;
    top:37px;
    left:0;
    border-radius: 2px;
}
#contenuti{
    width:90%;
    height: fit-content;
    margin:0 auto;
}
.sezioneContenuto{
    width:400px;
    height: 550px;
    margin:30px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    display: inline-block;
}
.imgContenuto{
    width: 90%;
    height: 250px;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% auto;
}
.imgContenuto img{
    width: 120%;
}
.titleContenuto{
    text-align: start;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    width:90%;
    margin: 0 auto;
}
.descriptionContenuto{
    text-align: start;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width:90%;
    height: 150px;
    margin: 0 auto;
}
.buttonContenuto{
    width: 170px;
    height: 40px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    margin:5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color:#F51F1F;
    margin:0 auto;
}
.buttonContenuto:hover{
    background-color:#f84949;
    color:white;
    transform: scale(1.05);
}
.buttonContenuto img{
    width:30px;
    margin-right: 10px;
}
#discord{
    width:90%;
    height: 430px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin:30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#discordTesti{
    width:60%;
    height: 90%;
    margin:5%;
}
#discordImg{
    width:60%;
    height: 90%;
    margin:5%;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#discordImg img{
    height: 100%;
}
#discordTitle{
    text-align: start;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    width:90%;
    margin: 0 auto;
}
#discordDescription{
    text-align: start;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width:90%;
    height: 150px;
    margin: 0 auto;
    height: 280px;
}
#discordButton{
    width:fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
}
#discordButton div{
    height: 40px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    margin:5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-right: 20px;
}
#discordButton div:nth-child(1){
    width: 170px;
    color:#5865F2;
}
#discordButton div:nth-child(2){
    width: 100px;
    color:#7556DF;
}
#discordButton div:nth-child(1):hover{
    background-color:#828dfd;
    color:white;
    transform: scale(1.05);
}
#discordButton div:nth-child(2):hover{
    background-color:rgb(159, 167, 250);
    color:white;
    transform: scale(1.05);
}
#discordButton div img{
    width:30px;
    margin-right: 10px;
}