*{
    padding:0;
    margin:0;
    outline: none;
    text-decoration: none;
}
:root{
    --blue: #55B1F5;
    --blueHover: #67b6f0;
    --blueActive: #42a9f5;
    --white: white;
    --black: #19141E;
    --gray:#9c9c9c;

    --ombra: 0px 0px 20px 0px rgba(0,0,0,0.4);
}

/*OGGETTI DEFAULT*/
.button{
    background-color:var(--blue);
    border-radius: 10px;
    box-shadow: var(--ombra);
    margin:20px 0;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size:17px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    user-select: none;
}
.button:hover{
    transform: scale(1.01);
    background-color: var(--blueHover);
}
.button:active{
    transform: scale(0.99);
    background-color: var(--blueActive);
}
.titleSezione{
    width:fit-content;
    height:70px;
    background-color: var(--white);
    box-shadow: var(--ombra);
    font-family: 'Roboto', sans-serif;
    color:var(--black);
    font-weight: bold;
    font-size:45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    padding:2px 20px;
    margin: 0 auto;
    position: relative;
    top:-20px;
}

body{
    background-color: var(--white);
    overflow-x: hidden;
}
#background{
    position: absolute;
    z-index: -1;
    top:0;
    right:0;
}
.profilo{
    position: absolute;
    z-index: 0;
    width:400px;
}
#profilo1{
    top:200px;
    left:-70px;
}
#profilo2{
    transform: scaleX(-1);
    top:250px;
    right:-100px;
}
#profilo3{
    transform: scaleX(-1);
    top:150px;
    right:200px;
}
#profilo4{
    top:70px;
    left:200px;
}

/*NAVBAR*/
#navbar{
    width:100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
}
#logo{
    width:50px;
    position: relative;
    left:20px;
}
#menu{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right:20px;
}
.menuTab{
    margin:0 7px;
    font-size:16px;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.menuTab:hover{
    transform: scale(1.02);
}

/*INTESTAZIONE*/
#intestazione{
    position: absolute;
    z-index: 0;
    top:400px;
    left:calc(50% - 220px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#title{
    width:440px;
    height:70px;
    background-color: var(--white);
    box-shadow: var(--ombra);
    font-family: 'Roboto', sans-serif;
    color:var(--black);
    font-weight: bold;
    font-size:45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    padding:2px 20px;
    margin: 0 auto;
    position: relative;
    top:-20px;
}
#intestazione .button{
    width:150px;
    height:45px;
    margin:0;
}

/*PAGINA*/
#pagina{
    width:100%;
    height:240vh;
    background-color: var(--white);
    box-shadow: var(--ombra);
    position: absolute;
    top:90vh;
    padding-top: 20vh;
}

/*SCHEDE DISCORD*/
.schedaDiscord{
    width:70%;
    background-color: var(--white);
    height: 450px;
    box-shadow: var(--ombra);
    border-radius: 10px;
    margin:0px auto 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.imgSchedaDiscord{
    width:40%;
    height:80%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgSchedaDiscord img{
    height:90%;
}
.textSchedaDiscord{
    width:50%;
    padding:10px;
    height:fit-content;
    font-family: 'Roboto', sans-serif;
    color:var(--black);
    font-size:35px;
    text-align: left;
}
.schedaDiscord2 .textSchedaDiscord{
    text-align: right;
}

#invitoDiscord{
    width:300px;
    height:200px;
    background-color: var(--white);
    box-shadow: var(--ombra);
    border-radius: 10px;
    margin: 100px auto;
    font-family: 'Roboto', sans-serif;
    color:var(--black);
    font-size:32px;
    text-align: center;
    padding: 10px 20px;
}
#invitoDiscord .button{
    width:150px;
    height:45px;
    margin:20px auto 0 auto;
}